.modal {
  display: none;
  position: fixed;
  z-index: 1;
  width: 50%;
  height: 50%;
  overflow: visible;
  background-color: #aaa;
  background-color: rgba(170,170,170,0.8)
}

.modal-content {
  
}
